@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/********** GENERAL **********/
* {
 font-family: 'Montserrat', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0b193b;
}

#landing {
  background-image: url(/home-img.jpg), linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  background-blend-mode: color;
  height: 70vh;
}

.container {
  padding: 3.5rem 0;
}

.row {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff
}

li {
  text-decoration: none;
  list-style: none;
}

label {
    display: block;
    font-size: 2.25rem;
    margin-bottom: 5px;
}

select {
    width: 12.5rem;
    height: auto;
}

.center-item {
justify-content: center;
align-items: center;
}

.white-color {
    color: #fff;
}

.blue-color {
    color: #0EA5E9;
}

/*********** NAV ***********/
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
  height: 6.25rem;
  padding: 0 1.25rem;
}

.site__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav__list {
  font-weight: 600;
  font-size: 1.25rem;
}

/*********** HEADER ***********/
header {
  margin-top: 5.5rem;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 2rem;
  height: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}


#appTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#genreForm{
    text-align: center;
    margin: 1rem auto;
    display: block;
}

#infoForm label{
  font-size: 1.25rem;
}

#info {
margin-top: 1rem;
width: 100%;
padding: 0.75rem 1.25rem;
background-color: rgba(255, 255, 255, 0.788);
transition: transform 250ms ease-in-out;
font-size: 1rem;
line-height: 1rem;
color: #000;
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-size: 18px 18px;
background-position: 95% center;
border: 1px solid #000;
border-radius: 50px;
transition: all 250ms ease-in-out;
backface-visibility: hidden;
transform-style: preserve-3d;
}

/********* MODAL *********/
.modal {
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 1.5rem;
    width: 50%;
    height: 50%;
    border-radius: 0.5rem;
    color: #333;
}

.close__button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #0ea4e9;
    font-weight: 700;
}

.close__button:hover {
    background-color: #12719e;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

.modal__title{
    margin-bottom: 1rem;
}

.modal__desc {
    font-size: 1rem;
    line-height: 1.5;
}

/********* CARD *********/

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}